<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Военкоматы Росии</title>
    <link rel="stylesheet" href="../static/css/entry.css" type="text/css">
</head>
<body>
<p class = "mainHead">
<img src = "../static/pictures/EntryMain.gif" alt = "MainPicture">
</p>
<div class = "background">
    <form  th:action="@{/home}" method="post">
        <input class = "button1"  type="submit" value="Войти">
    </form>
</div>
</body>
</html>
